body {
  background-color:peachpuff;
  
}
p {
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif ;
}

img {
  height: 50% ;
  border-radius: 50pt;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vw;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin-top: 30px;
  padding: 20px 25px;
  margin: 30px auto 0;
  border: 1px solide #2e1263;
  font-size: 20pt;

}

button:hover{
  transition: 3s;
  background-color: brown;
  text-decoration: dotted;
}